<ion-header class="home-header" [translucent]="true">
  <ion-toolbar class="main-toolbar">
    <div class="header-content">
      <div class="header-logo">THE BRIDGE</div>
      <button class="donate-btn" type="button" aria-label="Donaciones" (click)="navigateToDonations()">
        <ion-icon name="cash-outline" aria-hidden="true"></ion-icon>
      </button>
    </div>
  </ion-toolbar>

  <ion-toolbar class="search-toolbar">
    <div class="search-wrapper">
      <ion-searchbar inputmode="search" placeholder="Buscar temas..." aria-label="Buscar temas"
        class="custom-searchbar"></ion-searchbar>
    </div>
  </ion-toolbar>

  <ion-toolbar class="segment-toolbar">
    <ion-segment [scrollable]="true" [(ngModel)]="currentSection" aria-label="Secciones" class="chips-segment"
      mode="md">
      <ion-segment-button value="articles">
        <ion-label>Artículos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="books">
        <ion-label>Libros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="videos">
        <ion-label>Videos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="opinion">
        <ion-label>Opinión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="courses">
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content" [fullscreen]="true">
  <div class="home-section" [ngSwitch]="currentSection">
    <app-article-list *ngSwitchCase="'articles'"></app-article-list>
    <app-book-list *ngSwitchCase="'books'"></app-book-list>
    <app-video-list *ngSwitchCase="'videos'"></app-video-list>
    <app-opinion-list *ngSwitchCase="'opinion'"></app-opinion-list>
    <app-courses-list *ngSwitchCase="'courses'"></app-courses-list>
    <app-article-list *ngSwitchDefault></app-article-list>
  </div>
</ion-content>

<ion-footer class="home-footer">
  <ion-tab-bar>
    <ion-tab-button class="tab-active">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-inactive">
      <ion-icon name="person" aria-hidden="true"></ion-icon>
      <ion-label>Directorio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>