<ion-header class="home-header">
  <ion-toolbar>
    <div class="home-header__content">
      <button class="home-donate" type="button" aria-label="Donaciones">
        <ion-icon name="cash-outline" aria-hidden="true"></ion-icon>
      </button>
      <div class="home-logo">THE BRIDGE</div>
    </div>
    <ion-searchbar
      class="home-searchbar"
      placeholder="Buscar temas..."
      aria-label="Buscar temas"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="home-segment-toolbar">
    <ion-segment
      scrollable="true"
      [(ngModel)]="currentSection"
      aria-label="Secciones"
    >
      <ion-segment-button value="articles">
        <ion-label>Artículos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="books">
        <ion-label>Libros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="videos">
        <ion-label>Videos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="opinion">
        <ion-label>Opinión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="courses">
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content" [fullscreen]="true">
  <div class="home-section" [ngSwitch]="currentSection">
    <app-article-list *ngSwitchCase="'articles'"></app-article-list>
    <div *ngSwitchCase="'books'">Componente Libros aquí</div>
    <div *ngSwitchCase="'videos'">Componente Videos aquí</div>
    <div *ngSwitchCase="'opinion'">Componente Opinión aquí</div>
    <div *ngSwitchCase="'courses'">Componente Cursos aquí</div>
    <app-article-list *ngSwitchDefault></app-article-list>
  </div>
</ion-content>

<ion-footer class="home-footer">
  <ion-tab-bar>
    <ion-tab-button class="tab-active">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-inactive">
      <ion-icon name="person" aria-hidden="true"></ion-icon>
      <ion-label>Directorio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
